.characterList {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    list-style: none;
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
  }
}

.classList__container {
  list-style: none;
  border: 20px solid rgb(216, 113, 199);
  border-radius: 10px;
  background-color: rgb(216, 113, 199);
  font-family: "Architects Daughter", cursive;
  margin-bottom: 20px;
}
