.characterList {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    list-style: none;
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
  }
}

.classList__container {
  list-style: none;
  border: 20px solid rgb(216, 113, 199);
  border-radius: 10px;
  background-color: rgb(216, 113, 199);
  font-family: "Architects Daughter", cursive;
  margin-bottom: 20px;
  :hover {
    transform: translateY(-10px);
  }
}

.character__error {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  &-paragraph {
    font-family: "Architects Daughter", cursive;
    color: rgb(0, 255, 242);
    font-size: 25px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  }
  &__image {
    height: 250px;
    @media all and (min-width: 768px) {
      height: 350px;
    }
  }
}
