.form {
  text-align: center;
  padding-top: 50px;
  &__label {
    font-family: "Architects Daughter", cursive;
    color: rgb(0, 255, 242);
    font-size: 25px;
  }
  &__input {
    margin-left: 10px;
    padding-left: 10px;
    width: 200px;
    height: 25px;
  }
}
